@import url('https://fonts.googleapis.com/css?family=Montserrat:thin,bold,black');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Carousel styling */
.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.inner {
  display: flex;
  position: absolute;
  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  left: 0px;
}

.inner img {
  width: 100vw;
  height: 100vh;
  filter: brightness(80%) blur(2.5px);
}

.prev, .next {
  color: purple;
  width: 70px;
  height: 70px;
  background-color: white;
  position: absolute;
  z-index: 99;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
  font-size: 45px;
  font-family: Montserrat;
  top: 50%;
  margin-top: -25px;
  opacity: 0.5;
  transition: 0.3s;
}

.next {
  right: 0px;
  /* border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; */
  border-radius: 50%;
  margin-right: 15px;
}

.prev {
  /* border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; */
  border-radius: 50%;
  margin-left: 15px;
}

.prev:hover, .next:hover {
  opacity: 1;
}

.bubbles {
  position: absolute;
  z-index: 999999;
  bottom: 10%;
  left: 50%;
  height: auto;
  width: auto;
  background-color: transparent;
  display: flex;
}

.bubbles div {
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0px 0px 10px 1px black;
  opacity: 0.5;
  cursor: pointer;
}

.item {
  height: 100%;
  width: 100%;
  position: relative;
}

.item-content {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
  top: 44%;
}

.item-content h1 {
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  text-align: center;
}

.item-content p {
  text-align: center;
  color: white;
  font-family: Montserrat;
  font-size: 20px;
}